name: Gitleaks

on:
  pull_request:
    branches:
      - "**"

permissions:
  contents: read

jobs:
  gitleaks:
    name: Secret scanning (gitleaks)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # important: gitleaks needs history

      - name: Run gitleaks
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
